h1 {
  text-align: center;
}

h2 {
  display: inline;
  text-decoration: underline;
  padding: 20px;
}

h4{
  display: inline;
  text-align: center;
}

a {
  text-decoration: none;
}

header {
  height: 125px;
  width: 700px;
  border: 1px solid black;
  border-bottom: 0;
  margin: 0 auto;
}

img {
  height: 100px;
  width: 110px;
  display: inline;
  float: left;
  margin-right: 10px;
}

#search {
  text-align: center;
  position: fixed;
  margin: 13px;
}

#currentQuery{
  float: right;
  margin: 13px;
  color: crimson;
}

#container {
  height: 625px;
  width: 700px;
  border: 1px solid black;
  margin: 0 auto;
}

#resultContainer {
  height: 20px;
  text-align: left;
  padding: 0 15px;
  display: inline;
  line-height: 2;
}

#result {
  display: inline;
}

#pageContainer {
  display: inline;
  float: right;
  line-height: 2;
  text-align: center;
}

#pages {
  margin: 0 10px;
}

#streams {
  list-style-type: none;
  float: left;
  display: inline;
}

.streamItem {
  padding-bottom: 5px;
  width: 650px;
  margin-bottom: 13px;
}

button {
  display:inline;
  float: right;
  margin-top: 5px;
}

#rightButton {
  margin-right: -20px;
}