h1 {
  text-align: center;
}

h2 {
  display: inline;
  text-decoration: underline;
  padding: 20px;
}

h4{
  display: inline;
  text-align: center;
}

header {
  height: 125px;
  width: 700px;
  border: 1px solid black;
  margin: 0 auto;
}

img {
  height: 100px;
  width: 110px;
  display: inline;
  float: left;
  margin-right: 5px;
}

#search {
  text-align: center;
}

#container {
  height: 625px;
  width: 700px;
  border: 1px solid black;
  text-align: center;
  margin: 0 auto;
}

#resultContainer {
  height: 20px;
  width: 700px;
  margin: 0 auto;
  text-align: left;
  padding: 5px 15px;
}

#result {
  display: inline;
}

#pages {
  float: right;
  margin-right: 30px;
}

#streams {
  list-style-type: none;
  float: left;
  display: inline;
}

.streamItem {
  padding-bottom: 5px;
  margin-right: 5px;
}

#currentPage {
  display: inline;
  float: right;
}

#totalPages {
  display: inline;
  float: right;
  padding-right: 30px;
}