a {
  text-decoration: none;
}

header {
  height: 125px;
  width: 700px;
  border: 1px solid black;
  border-bottom: 0;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

h1:hover {
  opacity: 0.7;
}

h2 {
  display: inline;
  text-decoration: underline;
  margin-left: -5px;
}

h4 {
  display: inline;
  text-align: center;
  color: black;
}

p {
  color: black;
  margin-top: 3px;
}

img {
  height: 100px;
  width: 110px;
  display: inline;
  float: left;
  margin-right: 30px;
}

button {
  display:inline;
  float: right;
  margin-top: 5px;
}

button:hover {
  opacity: 0.5;
}

#rightButton {
  margin-right: 15px;
}


#search {
  text-align: left;
  margin: 23px;
}

#searchInput {
  width: 290px;
  border-radius: 2px;
}

#searchInput:hover {
  background-color: azure;
}

#searchInput:focus {
  background-color: azure;
}


#submit {
  position: absolute;
  margin-left: 5px;
}

#submit:hover {
  opacity: 0.5;
}

#currentQuery{
  float: right;
  margin: 0 20px 0 0;
  color: crimson;
  font-size: 24px;
}

#container {
  height: 625px;
  width: 700px;
  border: 1px solid black;
  margin: 0 auto;
}

#resultContainer {
  padding: 0 15px;
  display: inline;
  line-height: 2;
}

#result {
  display: inline;
}


#pageContainer {
  display: inline;
  float: right;
  line-height: 2;
  text-align: center;
}

#pages {
  margin: 0 10px;
}


#streams {
  list-style-type: none;
  float: left;
  padding-left: 30px;
}

.streamItem {
  padding-bottom: 5px;
  width: 650px;
  margin-bottom: 25px;
}

.streamItem:hover {
  opacity: 0.7;
}


